@font-face {
	font-family: "Bebas Neue";
	src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
		url("../fonts/BebasNeueRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 14px;
	font-family: "Roboto", sans-serif;
}

.header {
	background-color: #635854;
	/*padding: 12px 0;*/
	border-bottom: 4px solid #3596f5;
}
.navbar {
	max-width: 1280px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	text-align: center;
}
.navbar-item {
	margin: 0 20px;
	transition: .5s ease;
}
.navbar-item:hover {
	background-color: #3596f5;
}
.navbar-link {
	display: block;
	padding: 12px;	
	text-decoration: none;
	color: #ffffff;
}
.navbar-contacts {
	text-align: right;
}
.navbar-text {
	display: block;
	color: #ffffff;
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 16px;
}
.navbar-phone {
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
	color: #ffffff;
}

.main {
	max-width: 1280px;
	margin: auto;
	padding-top: 60px;
	display: flex;
}

.main-info {
	padding: 60px 0;
	flex-grow: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main-title {
	font-family: "Bebas Neue", sans-serif;
	font-weight: normal;
	font-size: 37px;
	color: #635854;
}

.home-image path {
	opacity: 0;
	cursor: pointer;
}

.home-image path:hover {
	opacity: 1;
}

.home-image path.current-floor {
	opacity: 1;
}

.counter-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.counter-button {
	background-color: white;
	border: none;
	cursor: pointer;
}

.counter-arrow-down {
	transform: rotate(180deg);
}

.floor-counter {
	font-family: "Bebas Neue", sans-serif;
	margin: 35px 0;
	color: #635854;
	font-size: 75px;
	line-height: 100%;
}

.button-primary {
	border: none;
	background: #3596f5;
	border-radius: 6px;
	color: white;
	padding: 16px 36px;
	cursor: pointer;
}

.modal{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transform: scale(0);
	transition: opacity .5s;
}
.is-open{
	opacity: 1;
	transform: scale(1);	
}
.modal-dialog{	
	max-width: 1000px;
	min-height: 565px;
	background: #ffffff;
	flex-grow: 1;
	display: flex;
	position: relative;
	opacity: 0;
	transform: translateY(-10%);
	transition: transform .5s ease .5s, opacity .5s ease .5s;	
}
.is-open > .modal-dialog{
	opacity: 1;
	transform: translateX(0%);
}

.modal-title{
	margin-bottom: 25px;
	font-family: "Bebas Neue", sans-serif;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	/*color: #635854;*/
}

.modal-image{
	background-color: #ebebeb;
	width: 60%;
	text-align: center;
	padding: 50px;
}

.flats path{
	opacity: 0;
	cursor: pointer;
	transition: opacity .2s;
}

.flats path:hover{
	opacity: 1;
}
.flats path.flat-path-active{
	opacity: 1;
}

.modal-info{
	width: 40%;
	padding: 50px 45px;
}

.flat-list{
	margin-top: 55px;
	list-style: none;
}
.flat-item{
	margin-bottom: 10px;
}
.flat-link{	
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #635854;
	text-decoration: none;
}
.flat-link:hover{
	text-decoration: underline;
	color: #3596F5;
}
.flat-link-active{
	text-decoration: underline;
	color: #3596F5;
}

.modal-alert{
	margin-top: 56px;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #635854;
}

.modal-close-button{
	position: absolute;
	top: 38px;
	right: 30px;
	border: none;
	background: #fff;
	width: 24px;
	height: 24px;
	cursor: pointer;
}


